/* Standarts */
:root {
    font-size: 62.5%; /* To make 1 rem = 10 px */ 
    --fw-300: 300;
    --fw-600: 600;
    --fw-800: 800;

    --fs-300: 1rem;
    --fs-600: 1.2rem;
    --fs-800: 2rem;

    --color-gray: #dbd5c9;
    --color-black: #403A3A;
    --color-white: #fff;
    --color-orange: #F09046;
    --color-green: #48C079;
}

* {
    margin: 0;
    padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/*

CSS STRUCTURE

*/

/*  general structure of the voting machine */

@keyframes glow {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.voting-machine {
    display: flex;
    padding: 3rem;
    background-color: var(--color-gray);
    gap: 0 3rem;
}

.display {
    flex: 2;
    display: flex;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    border: 2px solid #555;
    width: 50rem;
    height: 32rem;
}

.voting-selection {
    flex: 1;
    background-color: var(--color-black);
    padding-block: 1rem;
}

/* right display area */

.display-right {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}

/* left display area */

.display-left {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    font-size: 1.8rem;
    font-weight: var(--fw-300);
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning-message-bottom span,
.warning-message-top span{
    display: none;
}

.warning-message-bottom,
.warning-message-top {
    display: flex;
    align-items: center;
}

.warning-message-bottom {
    margin-top: auto;
}

h1,
.warning-message-top,
.selection {
    height: 6rem;
}

h1 {
    text-transform: uppercase;
    font-size: inherit;
    font-weight: inherit;
    margin-inline: auto;
}

.box {
    width: 3rem;
    height: 4rem;
    border: 1px solid black;
    font-size: 2.5rem;
    text-align: center;
    line-height: 4rem;
}

/* Voting selection area */

.voting-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.voting-selection .voting-line:last-child {
    margin-top: 5rem;
    gap: 1rem;
}

.null,
.remedy,
.confirm, 
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 0px #555;
    cursor: pointer;
}

.null,
.remedy,
.confirm {
    width: 7.5rem;
    height: 5rem;
    font-size: 1.4rem;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 4rem;
    background-color: black;
    color: var(--color-white);
    font-size: var(--fs-800);
    margin-inline: 1rem;
}

.null {
    background-color: var(--color-white);
}

.remedy {
    background-color: var(--color-orange);
}

.confirm {
    background-color: var(--color-green);
}

.nextNumber {
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}